*{
    padding: 0;
    margin: 0;
    text-align: justify;      
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}
header,section,footer,aside,nav,article,figure,figcaption,hgroup{
    display: block;
}
body{
    text-align: center;
}
#contenedor{
    width: 960px;
    margin: 15px auto;
    text-align: left;
}
#cabecera{
    background: #fffbb9;
    border: 1px solid #999999;
}
#menu{
    background: #cccccc;
    padding: 5px 15px;
}
#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana,sans-serif;
    
}
#seccion{
    float: left;
    width: 660px;
    margin: 20px;
}
#columna{
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: #cccccc;
}
#pie{
    clear: both;
    text-align: center;
    padding: 10px;
    border-top: 20px solid #999999;
}
img{
    width: 560px;
    height: auto;
    margin: auto;
    position: relative;

}
figcaption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article{
    background: #fffbb9;
    border: 1px solid #999999;
    padding: 40px;
    margin-bottom: 15px;
}
article footer{
    text-align: center;
}
time{
    color: #999999;
}
